@charset "UTF-8";

/*--------------------
初期値
----------------------*/
body {
  padding-top: 72px;
}

@media screen and (max-width: 768px) {
  body {padding-top: 58px;
}
}

.btn-primary {
  background-color: #8e44ad;
  border: 1px solid #8e44ad;
}

.btn-primar:hover {
  background-color: #7e349d;
  border: 1px solid #7e349d;
}

footer a{
  color:#8e44ad;
}

footer:hover{
  color: #7e349d;
}
ul{
  padding-left: 0;
  list-style-type: none;
}


/*--------------------
top
----------------------*/

.topics p {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}
